= simple_form_for @event, url: course_events_path do |f|
    #title_field
        = f.input :title
    .form-fields
        = f.input :start_time, label: 'Starts: '
        = f.input :end_time, label: 'Ends: '
        = f.button :submit, class: "button", id: "submitbtn"
