.container
    %h1= @course.course_name
    = link_to "New Event", new_course_event_path
    - @event.each do |event|
        %h2= link_to event.title, course_event_path(event.course_id, event.id)
        %p
            %strong Date:
            #{event.event_date}
        %p
            %strong Start time:
            #{event.start_time.hour}:#{event.start_time.min}
        %p
            %strong End time:
            #{event.end_time.hour}:#{event.end_time.min}
