#success_banner{:style => "display: none;"}
    - if user_signed_in?
        - if current_user.isProf?
            %h3 Thank you adding your event to PrudentCAL. Your event will now be visible to everyone enrolled in this course.
        - else
            %h3 Thank you adding your event to PrudentCAL. Your event was sent to your Professor for approval.
.wrapper_with_padding
    =render 'modal'
    .button-container
        .back-btn
            %i.fa.fa-long-arrow-left
            =link_to "Back To Courses", courses_path
        - if current_user.isProf?
            .pending-button
                = link_to "Events pending your approval", pending_events_list_course_path(@course.id)
                - @pending_events = count_pending_events(@course)
                -if @pending_events>0
                    .counter#in-events
                        %span #{@pending_events}
        -elsif !current_user.isProf?
            .pending-button
                = link_to "Events submitted for approval", pending_events_list_course_path(@course.id)
        %h1= @course.course_name
    .calendar-container
        .legend-container
            .legend
                .legend-icon#prof-icon
                %p Professor event
            .legend
                .legend-icon#student-icon
                %p Student event
            .legend
                .legend-icon#private-icon
                %p Private event
            %button.new-event-btn
                = link_to "New Event", new_course_event_path, remote: true
        #calendar
