.back-btn
    %i.fa.fa-long-arrow-left
    =link_to "Back To #{cookies[:course_name]}", course_events_path(cookies[:course_id])
.event
    %h1= @event.title
    %p
        %strong Starts:
        #{@event.start_time.to_formatted_s(:long) }
    %p
        %strong Ends:
        #{@event.start_time.to_formatted_s(:long)}
    %p
        %strong Posted by:
        - if @event.user.role=="Professor"
            Prof.
        #{@event.user.first_name} #{@event.user.last_name}
    %p
        %strong Course name:
        #{@course.course_name}
    - if @event.user.id==current_user[:id]
        =link_to "Edit", edit_course_event_path(@event.course, @event)
        =link_to "Delete", course_event_path(@event.course, @event), method: :delete, data: {confirm: "Are you sure?"}
