%h1= @event.title
%p= @event.event_date
%p= @event.start_time
%p= @event.end_time
%p Posted by #{@event.user.first_name} #{@event.user.last_name}

=link_to "All events", course_events_path(@event.course_id)
- if @event.user.id==current_user[:id]
    =link_to "Edit", edit_course_event_path(@event.course, @event)
    =link_to "Delete", course_event_path(@event.course, @event), method: :delete, data: {confirm: "Are you sure?"}
