= simple_form_for @course, url: courses_path do |f|
    #fields
        = f.input :course_name, required: true
        = f.label "Choose users: "
        = select_tag "students", options_from_collection_for_select(User.all, 'id', 'email',@course.users.map{ |j| j.id }), :multiple => true
    = f.button :submit, class: "button", id: "submitbtn"
