.top-container
    - if user_signed_in?
        - if current_user.role=="Professor"
            %h1 Hello, Prof. #{current_user.first_name} #{current_user.last_name}
        - else
            %h1 Hello, #{current_user.first_name} #{current_user.last_name}
#courses
    - @course.each do |course|
        .course
            %h1= link_to course.course_name,course_events_path(course.id)
