#welcome_message{:style => "display: none;"}
    - if user_signed_in?
        - if current_user.isProf
            %h3 Welcome! Prof. #{current_user.first_name} #{current_user.last_name}
        - else
            %h3 Welcome! #{current_user.first_name} #{current_user.last_name}
.courses
    - @courses.each do |course|
        .course
            %h1= link_to course.course_name,course_events_path(course.id)
            - if current_user.isProf
                - @pending_events = count_pending_events(course.id)
                - if @pending_events >0
                    .counter
                        %span #{@pending_events}
