#welcome_message{:style => "display: none;"}
    - if user_signed_in?
        - if current_user.role=="Professor"
            %h3 Welcome! Prof. #{current_user.first_name} #{current_user.last_name}
        - else
            %h3 Welcome! #{current_user.first_name} #{current_user.last_name}
.courses
    - @course.each do |course|
        %h1= link_to course.course_name,course_events_path(course.id)
