!!!
%html
%head
	%title PrudentCal | Collaborative calendar application
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%link{:rel=>"stylesheet", :href=>"https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}
%script{:crossorigin => "anonymous", :integrity => "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
%body
	%header
		.header_inner
			= link_to image_tag( 'prudentcal_logo.png'), root_path, id: "logo"
			%nav
				- if user_signed_in?
					-if current_user.role=="Professor"
						= link_to "New Course", new_course_path
					= link_to "Sign Out", destroy_user_session_path, method: :delete
				- else
					= link_to "Log In", new_user_session_path
	-#
		%p.notice= notice
	%p.alert= alert

	= yield
